{% extends "base-template.html" %}

{% block title %}
    User Page
{% endblock %}

{% block content %}
    <h1 id="main-heading">This is the user page</h1>
    <p>This is a paragraph</p>
    <p>Hello {{ name }}</p>
    <ul>
        {% for friend in friends %}
        <li>{{ friend }}</li>
        {% endfor %}
    </ul>

    <form action="/user" method="POST">
        <input type="text"name="friend_name" placeholder="New Friend Name" />
        <br/>
        <input type="submit">
          </form>

    <button onclick="changeText()">Change Main Text</button>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/source.js') }}"> </script>
{% endblock %}